.buttonArea{
  width: 600px;
  margin-left: 180px;
}

.calendarArea > .container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 30px;
}


/* 기본 테이블 스타일 */
.scheduleTable  {
  width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  margin-top: 50px;
}

/* 테이블 헤더 스타일 */
.scheduleTable  th {
  background-color: #e2e6ff;
  font-weight: bold;
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: center;
}


.scheduleTable tr {
  background-color: #fff;
}

/* 테이블 셀 스타일 */
.scheduleTable td {
  padding: 8px;
  border: 1px solid #dddddd;
}

/* 테이블 셀 내부 컨텐츠 가운데 정렬 */
.scheduleTable td {
  text-align: center;
}

/* 첫 번째 열 스타일 */
.scheduleTable td:first-child {
  font-weight: bold;
}

.container::before {
  background-image:none;
  box-shadow: none;
}