.page-wrapper {
  padding-top: 80px;
  display: block;
}
@keyframes fadeInUpTop {
  0% {
    opacity: 0;
    transform: translate3d(30, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.page-wrapper {
  background: #f9fbfd;
  /* position: relative; */
  animation: fadeInUpTop 1s;
  /* display: none; */
  /* box-shadow: 0 3px 9px 0 rgba(162,176,190,.15); */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
}

#main-wrapper[data-layout="vertical"][data-sidebartype="full"] .page-wrapper {
  margin-left: 260px;
}

.page-wrapper > .page-breadcrumb {
  max-width: 1300px;
  margin: 0 auto;
}

.page-breadcrumb {
  padding: 30px 35px 0;
}

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.align-self-center {
  align-self: center !important;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.page-breadcrumb .breadcrumb {
  background: 0 0;
  font-size: 0.875rem;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

html body .font-weight-medium {
  font-weight: 900;
  font-size: 18px;
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.page-wrapper > .container-fluid,
.page-wrapper > .container-lg,
.page-wrapper > .container-md,
.page-wrapper > .container-sm,
.page-wrapper > .container-xl,
.page-wrapper > .container-xxl {
  padding: 35px;
  max-width: 1300px;
  min-height: calc(100vh - 210px);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.card,
.card-group {
  margin-bottom: 30px;
}

.card {
  --bs-card-spacer-y: 25px;
  --bs-card-spacer-x: 25px;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: #e9ecef;
  --bs-card-border-radius: 0.25rem;
  --bs-card-inner-border-radius: 0.25rem;
  --bs-card-cap-padding-y: 12.5px;
  --bs-card-cap-padding-x: 25px;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
}

.card-body {
  flex: 1 1 auto;
  padding: 25px 60px;
  color: var(--bs-card-color);
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.infoUser {
  padding-left: 120px;
  text-align: left;
  font-size: 15px;
  font-weight: 900;
}

.col-md-2 {
  flex: 0 0 auto;
  width: 30%;
  margin-top: 12px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.col-md-2-1 {
  margin-top: 0;
  width: 190px;
}
.custom-checkbox {
  flex: 0 0 auto;
  width: 45%;
  margin-top: 12px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f5467;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  appearance: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 50%;
}

.server {
  text-align: center;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
  color: #9eabc0;
  font-size: 10px;
  padding-left: 12px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 30%;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.h6,
h6 {
  font-size: 0.875rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #4f5467;
  background-color: transparent;
  background-clip: padding-box;
  border: var(--bs-border-width) solid #e9ecef;
  appearance: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
}

.form-control {
  display: inline-block;
}

.card .card-title {
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  color: #212529;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control[type="file"] {
  overflow: hidden;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-control,
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-select,
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container-fluid {
  position: relative;
}
input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space-collapse: preserve;
  text-wrap: nowrap;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

label {
  display: inline-block;
}

.agree {
  border-bottom: 1px solid #9eabc0;
}

.btn-info {
  /* --bs-btn-color: #fff;
    --bs-btn-bg: #5f76e8;
    --bs-btn-border-color: #5f76e8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5164c5;
    --bs-btn-hover-border-color: #4c5eba;
    --bs-btn-focus-shadow-rgb: 119,139,235;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4c5eba;
    --bs-btn-active-border-color: #4759ae;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5f76e8;
    --bs-btn-disabled-border-color: #5f76e8; */

  position: absolute;
  font-size: 13px;
  text-align: center;
  bottom: 34px;
  right: 140px;
  width: 145px;
  height: 47px;
  font-weight: 600;
}

.rowCheck {
  padding-top: 37px;
  padding-left: 128px;
}
f .custom-control label a {
  color: red;
}

.form-control {
  border: 1px solid #e9ecef;
}

.popover-item {
  margin-left: -15px;
  border: 2px solid #fff;
}
F .btn-info1 {
  font-size: 15px;
  color: white;
  opacity: 0.7;
  border-radius: 50% !important;
  background-color: #87b8e2;
  transition: all 0.6s;
  margin-left: -15px;
  border: 2px solid #fff;
}

.btn-info1:hover {
  color: #494c52;
  opacity: 1;
  transition: all 0.4s;
}

a {
  text-decoration: none;
}

.row .title {
  width: 60%;
}

.row b {
  text-align: right;
  width: 40%;
}

.infoUser-answer {
  font-size: 13px;
  margin-top: 10px;
  padding: 0;
  color: #2b2d30;
  font-weight: 400;
  text-align: left;
}

.wid2{
  width: 220px;
}

.search-btn {
  padding-top: 30px;
  padding-left: 950px;
}

.file_box {
  border: 2px solid rgb(13, 110, 253, 25%);
  width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px;
  text-align: center;
}

.eng-main-cal {
 
  margin-top: 80px;
  margin-right: 200px;
}

.eng-servernow {
  margin-left: 120px;
}