.insListTable {
  padding-bottom: 50px;
  border-bottom: 2px solid #cdcdcd;
}

.insListTable > tr {
  display: flex;
  align-items: center;
}

.searchBox {
  text-align: right;
  margin-bottom: 30px;
}

.searchIcon {
  display: inline-block;
  padding-left: 10px;
 
}

.insListTableTBody > tr {
  border-bottom: 1px solid #cdcdcd;
}

.pagination > li > a {
  color: #1ba266;
}

.endInstTableTHead {
  background-color: #fafafa;
}

.endInstTableTBody {
  background-color: #fafafa;
}
