.mainBody{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
a{
    list-style: none;
}
#container{
    background-color: white;
    width: 100%;
}
.info{
    height: 850px;
    background: url(https://cdn.imweb.me/thumbnail/20230418/521dafa777781.png) no-repeat white;
    background-size: cover;
    background-position: 50% 50%;
    
}



.info .wrapInfo{
    transition: 0.4s ease-out;
    display: inline-block;
    height: 60px;
    line-height: 59px;
    padding: 20 20px;
    margin: 200px 0 0 0px;
    border-radius: 35px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    width: 160px;
    background-color: #051619;
    color: white;
}
.info2{
    height: 800px;
    
}
.wrapInfo:hover{
    transition: 0.4s ease-out;
    color:khaki
}

@keyframes fadeInUpTop {
    0% {
        opacity: 0;
        transform: translate3d(30, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.promotion {
    padding-top: 250px;
    text-align: center;
    position: relative;
    animation: fadeInUp 1.5s;
    margin-bottom: 198px;
}

.promotionMain{
    font-size: 50px;
    margin-bottom: 70px;
    color: #F3A9A9;
}
.promotionCon{
    font-size: 32px;
    color: #191f28;
    line-height: normal;

}

.info .mainL{
    padding:176px 0 0 166px;
    animation: fadeInUpTop 1s;
    color: #fcfcfc;

}

.info .mainL h1{
  font-size: 72px;

}
.info .mainL h2{
  font-size: 60px !important;
  color: #007aff;
  display: inline;
  background-color: #ffffff;
  line-height: 1 !important;
  margin-top: 20px;
  padding: 16px 4px 5px 6px;

}
.info .mainL h2::after{
font-size: 60px !important;
color: #007aff;
display: inline;
background-color: #ffffff;
line-height: 1 !important;
margin-top: 20px;
padding: 16px 4px 5px 6px;
}
.promotionIcon{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 10px;
    text-align: center;

    /* grid-template-columns: 150px 150px 150px; */
}

.promotionIcon .proIcon1::before{
    background: #fff url(https://cdn.imweb.me/upload/S20230412627a2c204e322/7b9d01c9d979b.png) no-repeat;
    background-size: 129px 131px;
    background-position: 50% 50%;
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    display: block;
    content: '';
    
}
.promotionIcon .proIcon2::before{
    background: #fff url(../../public/img/pngegg.png) no-repeat;
    background-size: 175px 177px;
    border-radius: 50%;
    background-position:38% 56%;
    position: relative;
    width: 200px;
    height: 200px;
    display: block;
    content: '';
    
    
}
.promotionIcon .proIcon3::before{
    background: #fff url(https://cdn.imweb.me/upload/S20230412627a2c204e322/33b980b98b9ca.png) no-repeat;
    background-size: 118px 109px;
    background-position:50% 50%;
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    display: block;
    content: '';
    
    
}
.promotionIcon a{
    transition: 0.4s ease-out;
    opacity : 0.7;
}
.promotionIcon a:hover{
    transition: 0.4s ease-out;
    opacity : 1;
}

.info3{
    height: 1700px;
}

.promotionIcon a h2{
  color: #191f28;
  font-size: 28px;
  font-weight: bold;
}

.promotionIcon a p{
    padding-top: 30px;
    color: #191f28;
    font-size: 20px;
}


.info3 .info3_1{
    height: 500px;
    overflow: hidden;
    margin-top: 500px;
    background-image: url('https://ibb.co/7NtJKFz');
}
.info3_1 .info3Left{
    float: left;
    width: 50%;

    line-height: 100px;
}
.info3_1 .info3Left h2{
  color:#191f28;
  font-size: 40px;
  margin-bottom: 60px;
}

.info3_1 .info3Left p{

  color:#3f3f3f;
  font-size:20px;
  line-height: 28px;
  font-weight: lighter;
}
.info3 .info3Right{
    float: left;
    width: 50%;
}




.ylzFj {
    display: block;
    position: fixed;
    right: 58px;
    bottom: 53px;
    z-index: 1030;
}
.ylzFj button {
    width: 80px;
}

.ylzFj button > img {
    width: 100%;
}
* button {
    background: transparent;
    border: none;
}


.infoHead{
    width: 100%; 
    margin: 0 auto;
}

.infoP{
    font-size: 18px; margin: 30px 0 0 0px;
}

.info2Con, .info3Con{
    width: 1300px; margin: 0 auto;
}


