@charset "UTF-8";
ul, li{
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

body * {
    line-height: 100%;
}



header{

    border-bottom: 0.5px solid  #dadee1;

    width: 100%;
    height: 66px;


}
a { text-decoration: none; color: #000; }


#header{
    overflow: hidden;
    margin: 0 auto;
    width: 980px;
}
.mainLogo {
    float: left;
    width: 20%;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}
.HeaderCategoriBox{
    float: left;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 30px;
} 
.login_singup{
    float: left;
    width: 20%;

}
div {
    display: block;
}
.HeaderCategori a{
    float: left;
    width: 25%;
    font-size: 17px;
    font-weight: 500;
    transition: 0.4s ease-out;
}    
.login_singup ul{
    overflow: hidden;
}
.login_singup li {
    position: relative;
    /* width: 70px; */
    float: right;
    margin: 10px 0px 0 10px;
    
    text-align: center;
}
.login_singup li a {
    font-size: 13px;

}
.HeaderCategori a:hover{
    transition: 0.2s ease-out;
    color: #C4E6F1;
}   
.login_singup li a:hover{
    color:grey;
}

footer{
    height: 130px;
    border-top: 0.5px solid  #dadee1;
    border-bottom: 0.5px solid  #dadee1;
    background-color: #C4E6F1;
}
#footer{
    overflow: hidden;
    margin: 0 auto;
    width: 980px;
    margin-top: 20px;

}
.footerLeft{
    float: left;
    text-align: center;
    width: 30%;
}

.footerMid{
    float: left;
    width: 50%;
    
}

.footerMid ul{
    overflow: hidden;
    margin-bottom: 20px;
}
.footerMid ul li{
    float: left;
    margin-right: 15px;
}
.footerMid ul li a{
    font-size: 15px;
    font-weight: 600;
}
.footerRight{
    float: left;
    width: 15%;
    overflow: hidden;
}
.footerRight a{
    float: left;
    opacity: .7;
    margin-left: 10px;
}
.footerMid .midBot{
    height: 100px;
    font-size: 12px;
}

.footerRight a:before{
    background: #C4E6F1 url(../../public/img/social-media-2083456_1280.png) no-repeat;
    content: '';
    height: 25px;
    width: 25px;
    display: block;
    background-size: 60px 60px;
    transition: 0.4s ease-out;
    opacity: .7;
}
.footerRight .logo1:before {
    background-position: -30px -4px;
}
.footerRight .logo2:before {
    background-position: -3px -30px;
}
.footerRight .logo3:before {
    background-position: -30px -30px
}

.footerRight a:hover {
	
    transition: 0.4s ease-out;
    opacity : 1;

}

.midTop .policy{
    color: red;
}
.mainLogo1 {
    width: 120px;
    height: 50px;
    object-fit: cover;
}
#header a { text-decoration: none;  }
