@charset "UTF-8";
ul, li{
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

body * {
    line-height: 100%;
}



header{

    border-bottom: 0.5px solid  #dadee1;
    position: fixed;
    width: 100%;
    height: 76px;
    background-color: rgb(252, 252, 252);
    z-index: 9999;

}
a { text-decoration: none; color: #000; }


#header{
    overflow: hidden;
    margin: 0 auto;
    width: 980px;
}
.mainLogo {
    float: left;
    width: 20%;
    margin-top: 10px;
    font-size: 30px;
}
.HeaderCategoriBox{
    float: left;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 30px;
} 
.login_singup{
    float: left;
    width: 20%;

}
div {
    display: block;
}
.HeaderCategori button{
    float: left;
    width: 25%;
    font-size: 12px;
    transition: 0.4s ease-out;
    color: #444444;
}    
.login_singup ul{
    overflow: hidden;
}
.login_singup li {
    position: relative;
    /* width: 70px; */
    float: right;
    margin: 10px 0px 0 10px;
    
    text-align: center;
}
.login_singup li a {
    font-size: 12px;
    font-weight: 100;
    color: #111111;
}
.HeaderCategori button:hover{
    transition: 0.2s ease-out;
    color: #C4E6F1;
}   
.login_singup li a:hover{
    color:grey;
}

footer{
    height: 400px;

    background-color: #111111;
    bottom: 0;
}
#footer{
    overflow: hidden;
    margin: 0 auto;
    width: 1600px;
   padding-top: 70px;

}
.footerLeft{
    float: left;
    text-align: left;
    margin-top: 15px;
    padding-right: 400px;
}
.footerLeft a {
  display: block;
  padding-bottom: 10px;
  color:rgb(245, 245, 245);
  font-size: 13px;
}

.footerLeft p {
  margin-top: 100px;
  color: rgb(230, 230, 230);
  font-size: 13px;
}

.footerLeft span {
  color: rgb(230, 230, 230);
  font-size: 10px;
}

.footerMid{
    float: left;
    color:rgb(230, 230, 230);
    overflow: hidden;
    margin-bottom: 20px;
    float: left;
    margin-right: 15px;
    padding-right: 400px;
  }

  .footerMid h4{
    padding-bottom: 20PX;
  }

.footerMid a{
    font-size: 15px;
    color: rgb(230, 230, 230);
    display: block;
    font-size: 13px;
    padding-bottom: 20px;
}
.footerRight{
    float: left;
    overflow: hidden;
}

.footerRight h4{
  padding-bottom: 20PX;
  opacity: 1;
}

.footerRight a{
    float: left;
    font-size: 13px;
    color: rgb(230, 230, 230);
    display:block;
    padding-bottom: 20px;
 
}
.footerMid .midBot{
    height: 100px;
    font-size: 12px;
}

/* .footerRight a:before{
    background: #C4E6F1 url(../../public/img/social-media-2083456_1280.png) no-repeat;
    content: '';
    height: 25px;
    width: 25px;
    display: block;
    background-size: 60px 60px;
    transition: 0.4s ease-out;
    opacity: .7;
} */
.footerRight .logo1:before {
    background-position: -30px -4px;
}
.footerRight .logo2:before {
    background-position: -3px -30px;
}
.footerRight .logo3:before {
    background-position: -30px -30px
}

.footerRight a:hover {
    transition: 0.4s ease-out;
    opacity : 1;
}

.mainLogo1 {
    width: 80px;
    height: 60px;
    object-fit: cover;
}
#header a { text-decoration: none;  }
