/* Modal.css 파일에 아래 내용을 추가합니다. */
.login-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: background-color 0.5s ease;
  }
  
  .modal-login {
    width: 300px;
    height: 200px;
    padding: 4rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 60px;

    animation: fadeIn 0.5s ease-in-out;
  }
  .login-modal-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: background-color 0.5s ease;
  }
  
  .modal-login1 {
    width: 387px;
    height: 230px;
    padding: 4rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 60px;

    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .login-button, .home-button {
    padding: 1rem;
    background-color: #7f72ea;
    color: white;
    border: none;
    border-radius: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  
  p {
    text-align: center;
  }
  
  .loginSuccess{
    margin-top: 10px;
    font-size: 25px;
    color:#6e81ff;
  }
  .successBtn{
    animation: fadeIn 0.5s ease-in-out;
    text-decoration: none;
    margin-top: 40px;
    width: 50%;
    text-align: center;
}
.successBtn .scBtn{
    margin: 0 auto;
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 10%;
    color: aliceblue;
    background-color: #6e81ff;
  }
  .successBtn .scBtn:hover{
    transition: all 0.1s;
    color: rgb(101, 101, 102);
  }
