@charset "UTF-8";

#projectList {
  background-color: #fff;
  height: 400px; 
  width: 1000px; 
  margin: 0 auto;
}

.listTitle {
  padding-bottom: 30px;
  padding: 15px;
}

.projectArea {
  display: inline-block;
}

.project {
  height: 300px;
  width: 300px;
  border: 1px solid #000;
  margin-left: 10px;
  position: relative;
}

.project figure{
    width: 100%; height: 100%;
}

/* .project figure figcaption{
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);

  color: #fff; text-align: center;
  line-height: 300px;

  opacity: 0; /* 처음엔 안보이고 */
  /*
  transition: 0.3s;
} */

.project figure figcaption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  line-height: 300px;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project a:hover figcaption, .project a:focus figcaption{
  /* 마우스를 올리면 보이게 처리 */
  opacity: 1;
}

.nextProject {
  position: absolute;
  right: 7%;
  top: 45%;
  transform: translateY(-50%);
}

.feather-icon {
  font-size: 24px; /* 아이콘 크기를 조정합니다. */
}


/* 기본 테이블 스타일 */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 13px;
}

th {
  font-weight: bold;
  padding: 8px;
  text-align: right;
  padding: 0 20px;
}

.nextProject {
  width: 30px;
  height: 300px;
}

.projectArea > progress {
  height: 30px;
  width: 300px;
  margin-left: 15px; 

.totalChart {
  height: 500px;
  width: 1000px; 
  margin: 0 auto; 
  margin-top: 50px;
}
}

.projectName{

    height: 100%;
}
.project_1{
    margin: 0;
}