.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff4f70;
  --bs-btn-border-color: #ff4f70;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9435f;
  --bs-btn-hover-border-color: #cc3f5a;
  --bs-btn-focus-shadow-rgb: 255, 105, 133;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc3f5a;
  --bs-btn-active-border-color: #bf3b54;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff4f70;
  --bs-btn-disabled-border-color: #ff4f70;
}

.btn-rounded {
  border-radius: 2em;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #7c8798;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 2px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    djrgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  /* display: inline-block; */
  /* padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x); */
  font-family: var(--bs-btn-font-family);
  /* font-size: var(--bs-btn-font-size); */
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  /* color: var(--bs-btn-color); */
  /* text-align: center; */
  /* text-decoration: none; */
  /* vertical-align: middle; */
  /* cursor: pointer; */
  /* user-select: none; */
  /* border: var(--bs-btn-border-width) solid var(--bs-btn-border-color); */
  /* border-radius: var(--bs-btn-border-radius); */
  /* background-color: var(--bs-btn-bg); */
  /* box-shadow: var(--bs-btn-box-shadow); */
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, */
  /* border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
