.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: #e8eef3;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: #e8eaec;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.table th,
.table thead th {
  font-weight: 500;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-bottom: 0.5px;
  padding: 16px 16px;
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  padding-left: 30px;
  text-align: left;
  font-size: 15px;
  font-weight: 900;
  color: #7a8c9e;
}
tbody,
td,
tfoot,
th,
thead,
tr a {
  border-bottom: 0.5px;
  padding: 16px 16px;
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  padding-left: 30px;
  text-align: left;
  font-size: 15px;
  font-weight: 900;
  color: #7a8c9e;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

.row .write {
  width: 33%;
  text-align: right;
  padding-top: 10px;
}
.row .write span {
  float: right;

  color: white;
  text-decoration: none;
  background: #896cf5;
  border-radius: 8px;
  height: 35px;

  width: 100px;
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  display: block;
}

.page-wrapper > .container-fluid,
.page-wrapper > .container-lg,
.page-wrapper > .container-md,
.page-wrapper > .container-sm,
.page-wrapper > .container-xl,
.page-wrapper > .container-xxl {
  max-width: 1300px;
  min-height: calc(100vh - 210px);
  padding: 35px;
}

.col-sm-6 {
  width: 50%;
  flex: 0 0 auto;
}
.col-lg-3 {
  width: 25%;
  flex: 0 0 auto;
}

.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}

html body .font-weight-medium {
  font-weight: 900;
}
.change-color {
  color: rgb(198 73 42);
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.text-muted {
  opacity: 1;
  color: rgb(158, 171, 192) !important;
  font-weight: 600;
}

.mt-lg-0 {
  margin-top: 0px !important;
  margin-left: auto !important;
}

.opacity-7 {
  opacity: 0.7;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.card {
  box-shadow: rgba(169, 184, 200, 0.15) 0px 3px 9px 0px;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: relative;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #9eabc0 !important;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.table > thead {
  vertical-align: bottom;
}

html body .font-14 {
  font-size: 14px;
}
html body .font-weight-medium {
  font-weight: 700;
}

.d-flex {
  display: flex !important;
}

.ms-auto {
  margin-left: auto !important;
}
.v-middle td,
.v-middle th {
  vertical-align: middle;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

/* *********************지인************************ */
.title-name {
  padding-bottom: 30px;
  padding-left: 200px;
}

.input-title {
  padding-left: 200px;
}

.btn-writer {
  background: #5f78f3;
  padding: 19px 64px;
  color: #f1f1f1;
  border-radius: 3px;
  margin-top: 40px;
  float: right;
  margin-right: 250px;
}

.btn-writer:hover {
  background: #4662ec;
}

.file-upload {
  width: 100%;
  border: 1px solid #e9ecef;
  padding-left: 6px;
}

.file-upload-button {
  border: 1px solid red;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container-fluid {
  font-family: "LINESeedKR-Bd";
  font-size: 15px;
}

.cardpd {
  --bs-card-spacer-y: 21px;
  --bs-card-spacer-x: 33px;
  --bs-card-border-radius: 3.25rem;
}

.cardpd h2 {
  margin: 10px 0px 2.5px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.listclient {
  align-items: start;
}

.listsize {
  width: 80%;
}

.projectname {
  cursor: pointer;
}

.projectname > span {
  padding-bottom: 2px;
}
.projectname > span:hover {
  color: #4662ec;
}

.pro-d {
  padding-top: 100px;
}

.detail-pro {
  width: 100%;
  /*  --bs-card-bg: #e5e5e5; */
}
.detail-pro h3 {
  padding-bottom: 10px;
}

.detail2 {
  padding: 15px;
}

.detail-list {
  margin: 35px 0px 0px 35px;

  font-size: 17px;
  color: #525252;
  display: flex;
}

.detail-list span {
  padding-bottom: 10px;
}

.team-button {
  padding: 10px;
  background-color: #afbcff;
  color: white;
}

.team-check span {
  font-size: 19px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}
.detail-list p {
  display: inline-block;
  margin-left: 40px;
}

.card-bsy {
  padding: 20px 0 20px 0;
  margin: 0 auto;
  width: 70%;
}

.col-md-2sy {
  flex: 0 0 auto;
  width: 30%;
  margin-top: 12px;
  text-align: center;
}
.col-md-4sy {
  flex: 0 0 auto;
  width: 62%;
}

.fileDown:hover {
  color: #5f78f3 !important;
}
.boardD:hover {
  color: #5f78f3 !important;
}

/* 관리자 팀 배정창 */
.ver-menu {
  width: 150px;
  text-align: center;
}

.ver-mid {
  line-height: 2;
  border: 1px solid #e9ecef;
  position: relative;
}

.ver-mid .ver-sub {
  position: absolute;
  width: 150px;
  left: 149px;
  border: 1px solid #e9ecef;
  background-color: white;

  top: -1px;
  display: none;
}

.ver-mid:hover .ver-sub,
.ver-mid.visible .ver-sub {
  /* 수정: 메뉴가 열린 경우에만 표시되도록 변경 */
  display: block;
  color: #b9b9b9;
}

.ver-mid:hover {
  background-color: #4662ec;
  color: white;
}

.ver-mid.visible {
  background-color: #4662ec;
  color: white;
}

.ver-mid .ver-sub > li:hover {
  background-color: #4662ec;
  color: white;
  font: #b9b9b9;
}

/* .ver-menu {
  position: absolute;
  top: 50px;
  left: -9999px;
  background: #ccc;
  width: 120%;
}

.ver-menu > li {
  position: relative;
}

.ver-menu > li:hover .ver-sub {
  left: 100%;
}

.ver-sub {
  position: absolute;
  top: 0;
  background: #ccc;
  width: 80%;
  left: -9999px;
}

.ver-sub > li:hover {
  position: relative;
  color: #fff;
} */
.boardD:hover {
  color: #5f78f3 !important;
}

.pagination-admin .active a,
.pagination-admin .active a:focus,
.pagination-admin .active a:hover,
.pagination-admin .active span,
.pagination-admin .active span:focus,
.pagination-admin .active span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #ed7272;
  border-color: #ed7272;
  border-radius: 0.2em;
}

.pagination-admin > .pagination > .disabled > a,
.pagination-admin > .pagination > .disabled > a:focus,
.pagination-admin > .pagination > .disabled > a:hover,
.pagination-admin > .pagination > .disabled > span,
.pagination-admin > .pagination > .disabled > span:focus,
.pagination-admin > .pagination > .disabled > span:hover,
.pagination-admin > .pagination > li > a {
  color: #ed7272;
  background-color: #fff;
  border-color: #ddd;
}


.answerValue:hover{
    color: rgb(248, 138, 138);
}