body {
    margin: 0;
    overflow-x: hidden;
    color: #7c8798;
    background: #f9fbfd;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
    line-height: 100%;
}
